.Player {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 5em;
	background: #ffff00;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 4em;
	height: 3.8em;
	background: url('../kimsmall.png'); /*url('http://s28.postimg.org/k90gybbtl/bird_Sprite.png');*/
	animation: assFlap 0.2s steps(3, end) infinite alternate;
	transition: transform 0.3s;
}

/*Færa þetta í scss skránna*/
@keyframes assFlap {
  0% {background-position: 0em 11.6em;}
  100% {background-position: 0em 0em;}
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: #808080;
	text-align: center;
	border-radius: 15px;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/*
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid black;
	border-radius: 15px;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: black;
}
body {
	background: black;
}
.browsehappy {
	margin: 0.2em 0;
	background: ?#?ccc?;
	color: #000;
	padding: 0.2em 0;
}
.GameCanvas {
	font-size: 10px;
	position: absolute;
	border-radius: 15px;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 56em;
	/*height: 45em;*/
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background: url('../images/dollars.jpg');
	/*background: #d9ffb3;*/
}

.cloud1 {
	position: absolute;
	width: 10em;
	height: 10em;
	background-image: url('../images/sky1');

	-webkit-animation: moveCloud 2516ms linear infinite;
	animation: moveCloud 2516ms linear infinite;
}

.floor {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 20%;
   background-image: url('../images/floor.png');
   background-repeat: repeat-x;
   background-position: 0px 0px;
   background-color: #ded895;
	 border-bottom-right-radius: 1.5em;
	 border-bottom-left-radius: 1.5em;
   -webkit-animation: moveFloor 2516ms linear infinite;
   animation: moveFloor 2516ms linear infinite;
}

.pipe {
   position: absolute;
   bottom: 0;
   width: 10.9em;
   height: 35em;
   background-image: url('../images/kmin.png');
   background-position: 0px 0px;
}

/*.pipe {
   position: absolute;
   left: -100px;
   width: 52px;
   height: 100%;
   z-index: 10;
	 background-repeat: repeat-x;
	 background-image: url('../images/kmin.png');
   -webkit-animation: moveFloorPipe 7500ms linear;
   animation: movePipe 7500ms linear;
}*/

@keyframes moveCloud {
	0% {background-position: 0px 0px;}
	100% {background-position: -200px 0px;}
}

@keyframes moveFloor {
   0% { background-position: 0px 0px; }
   100% { background-position: -335px 0px; }
}
