h1 {
		font-size: 5em;
}
h2 {
		font-size: 3em;
}
h3 {
		font-size: 2em;
}

body {
	  font-family: 'Calibri', serif;
	  background: black;
}

.Player {
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
    height: 3.8em;
    background: url('../kimsmall.png');
    background-size: 4em 11.7em;
    animation: assFlap 0.2s steps(3, end) infinite alternate;
    transition: transform 0.3s;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
}

.browsehappy {
    margin: 0.2em 0;
    background: ?#?ccc?;
    color: #000;
    padding: 0.2em 0;
}
.GameCanvas {
    font-size: 10px;
    position: absolute;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    width: 102.4em;
    height: 57.6em;
    /*height: 45em;*/
    margin-left: -51.2em;
    margin-top: -28.8em;
    overflow: hidden;
    background: url('../images/dollars.jpg');
    z-index: 0;
}

.floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: url('../images/floor.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #8F8F8F;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    -webkit-animation: moveFloor 2516ms linear infinite;
    -moz-animation: moveFloor 2516ms linear infinite;
    animation: moveFloor 2516ms linear infinite;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

@keyframes assFlap {
    0% {
        background-position: 0em 11.6em;
    }
    100% {
        background-position: 0em 0em;
    }
}

@keyframes moveFloor {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

#start {
    position: absolute;
    font-size: 0.8em;
    color: black;
    margin-top: 40em;
    margin-left: 1em;

}

#muteImage {
    width: 5.6em;
    height: 5.6em;
		z-index: 3;
}
