@media all and (max-width: 1040px) {
    .GameCanvas {
        font-size: 10.0px !important;
    }
}
@media all and (max-width: 1020px) {
    .GameCanvas {
        font-size: 9.8px !important;
    }
}
@media all and (max-width: 1000px) {
    .GameCanvas {
        font-size: 9.6px !important;
    }
}
@media all and (max-width: 980px) {
    .GameCanvas {
        font-size: 9.4px !important;
    }
}
@media all and (max-width: 960px) {
    .GameCanvas {
        font-size: 9.2px !important;
    }
}
@media all and (max-width: 940px) {
    .GameCanvas {
        font-size: 9.0px !important;
    }
}
@media all and (max-width: 920px) {
    .GameCanvas {
        font-size: 8.8px !important;
    }
}
@media all and (max-width: 900px) {
    .GameCanvas {
        font-size: 8.6px !important;
    }
}
@media all and (max-width: 880px) {
    .GameCanvas {
        font-size: 8.4px !important;
    }
}
@media all and (max-width: 860px) {
    .GameCanvas {
        font-size: 8.2px !important;
    }
}
@media all and (max-width: 840px) {
    .GameCanvas {
        font-size: 8.0px !important;
    }
}
@media all and (max-width: 820px) {
    .GameCanvas {
        font-size: 7.8px !important;
    }
}
@media all and (max-width: 800px) {
    .GameCanvas {
        font-size: 7.6px !important;
    }
}
@media all and (max-width: 780px) {
    .GameCanvas {
        font-size: 7.4px !important;
    }
}
@media all and (max-width: 760px) {
    .GameCanvas {
        font-size: 7.2px !important;
    }
}
@media all and (max-width: 740px) {
    .GameCanvas {
        font-size: 7.0px !important;
    }
}
@media all and (max-width: 720px) {
    .GameCanvas {
        font-size: 6.8px !important;
    }
}
@media all and (max-width: 700px) {
    .GameCanvas {
        font-size: 6.6px !important;
    }
}
@media all and (max-width: 680px) {
    .GameCanvas {
        font-size: 6.4px !important;
    }
}
@media all and (max-width: 660px) {
    .GameCanvas {
        font-size: 6.2px !important;
    }
}
@media all and (max-width: 640px) {
    .GameCanvas {
        font-size: 6.0px !important;
    }
}
@media all and (max-width: 620px) {
    .GameCanvas {
        font-size: 5.8px !important;
    }
}
@media all and (max-width: 600px) {
    .GameCanvas {
        font-size: 5.6px !important;
    }
}
@media all and (max-width: 580px) {
    .GameCanvas {
        font-size: 5.4px !important;
    }
}
@media all and (max-width: 560px) {
    .GameCanvas {
        font-size: 5.2px !important;
    }
}
@media all and (max-width: 540px) {
    .GameCanvas {
        font-size: 5.0px !important;
    }
}
@media all and (max-width: 520px) {
    .GameCanvas {
        font-size: 4.8px !important;
    }
}
@media all and (max-width: 500px) {
    .GameCanvas {
        font-size: 4.6px !important;
    }
}
@media all and (max-width: 480px) {
    .GameCanvas {
        font-size: 4.4px !important;
    }
}
@media all and (max-width: 460px) {
    .GameCanvas {
        font-size: 4.2px !important;
    }
}
@media all and (max-width: 440px) {
    .GameCanvas {
        font-size: 4.0px !important;
    }
}
@media all and (max-width: 420px) {
    .GameCanvas {
        font-size: 3.8px !important;
    }
}
@media all and (max-width: 400px) {
    .GameCanvas {
        font-size: 3.6px !important;
    }
}
@media all and (max-width: 380px) {
    .GameCanvas {
        font-size: 3.4px !important;
    }
}
@media all and (max-width: 360px) {
    .GameCanvas {
        font-size: 3.2px !important;
    }
}
@media all and (max-width: 340px) {
    .GameCanvas {
        font-size: 3.0px !important;
    }
}
